.manager-container{
    display:grid;
    grid-template-rows: 1fr 1fr;
    justify-items:center;
    align-items:center;
    height:auto;
    width:1500px;
}
.specs-manager-wrapper{
    display: grid;
    grid-template-rows: 1fr 1fr;
    
    justify-items: center;
    width: 1500px;
    height: 720px;
}
.Specs-list-wrapper{
    display: grid;
    width: 1500px;
    justify-items: start;
    justify-content: center;
    
}

.button{
    position:static;
    
}

.specs{
    display:none;
}

.tasks{
    display:none;
}

.show{
    display:block;
    height: 100px;
    width: 800px;
    display: grid;
    justify-content: center;
}

