.Specs-item-container {
  display: grid;
  grid-template-columns: 7fr 1fr; //text content and actions
  padding: 30px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 1600px;
  .spacer {
    width: 60px;
  }

  .text-content {
    height: 100%;
    width: 100%;
    padding: 30px;
    justify-items: left;
    justify-content: center;

    .item-card {
      display: grid;
      justify-content: center;
      grid-template-columns: 1fr 1fr; //leftside and rightside
      height: 5em;

      .leftside {
        display: grid;
        grid-template-rows: 1fr 1fr;

        .top {
          height: 325px;
          justify-content: center;
          align-items: center;
          img {
            width: auto;
            height: 90%;
          }
        }

        .bottom {
          height: 309px;
          justify-content: center;
          align-content: bottom;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
      .rightside {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-style: solid;
        height: 627px;
        width: 800px;
        font-size: 500%;
        .left {
          .item {
            justify-content: space-between;
            margin: 0px 25px 50px 0px;
          }
        }
        .right {
          .item {
            justify-content: space-between;
            margin: 0px 25px 50px 0px;
          }
        }
      }
    }
  }
  .actions {
    display: grid;
    grid-template-columns: 1fr;
    height: 620px;
    justify-items: center;
    align-items: baseline;
    .disabled {
      pointer-events: none;
      opacity: 0.5;
    }
  }
  .action-icon {
    font-size: 1000%;
    padding: 50px;
  }

  .record-link {
    font-size: 700%;
  }
}
