.wrapper {
  display: grid;
  justify-content: center;
  .task-wrapper {
    display: grid;
    
    justify-content: center;

    .task-bar-container {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      justify-content: center;
      .Overdue-container {
       
        justify-content: center;
        .button {
          
          justify-content: center;
        }
        .Overdue-content{
            display: grid;
            grid-template-rows: 1fr 2fr;
            width: 1200px;
            justify-content: center;
        }
      }
    }
  }
}
